info.app:
  name: Hmpps Challenge Support Intervention Plan Api
  version: 1.0

spring:
  application:
    name: hmpps-challenge-support-intervention-plan-api
  codec:
    max-in-memory-size: 10MB

  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${api.base.url.hmpps-auth}/.well-known/jwks.json

      client:
        registration:
          manage-users-api:
            provider: hmpps-auth
            client-id: ${manage-users.client.id}
            client-secret: ${manage-users.client.secret}
            authorization-grant-type: client_credentials
            scope: read
          prisoner-search-api:
            provider: hmpps-auth
            client-id: ${prisoner-search.client.id}
            client-secret: ${prisoner-search.client.secret}
            authorization-grant-type: client_credentials
            scope: read
        provider:
          hmpps-auth:
            token-uri: ${api.base.url.hmpps-auth}/oauth/token

  jpa:
    open-in-view: false
    show-sql: false
    generate-ddl: false
    hibernate:
      ddl-auto: none
    properties:
      org.hibernate.envers.audit_table_suffix: _audit
      org.hibernate.envers.revision_field_name: rev_id
      org.hibernate.envers.revision_type_field_name: rev_type
      org.hibernate.envers.modified_flag_suffix: _modified
      org.hibernate.envers.store_data_at_delete: true

  datasource:
    url: 'jdbc:postgresql://${DB_SERVER}/${DB_NAME}?sslmode=${DB_SSL_MODE}'
    username: ${DB_USER}
    password: ${DB_PASS}
    hikari:
      pool-name: Csip-DB-CP
      connectionTimeout: 1000
      validationTimeout: 500
      maximumPoolSize: 25
  flyway:
    locations: classpath:/migration/common,classpath:/migration/prod
    placeholders:
      dpr_user: ${DPR_USER}
      dpr_password: ${DPR_PASSWORD}

springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: alpha
  paths-to-exclude: "/queue-admin/**"

sentry:
  exception-resolver-order: -2147483647

server:
  port: 8080
  servlet:
    context-path: /
  forward-headers-strategy: native
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
      internal-proxies: 10\.\d{1,3}\.\d{1,3}\.\d{1,3}|192\.168\.\d{1,3}\.\d{1,3}|169\.254\.\d{1,3}\.\d{1,3}|127\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.1[6-9]{1}\.\d{1,3}\.\d{1,3}|172\.2[0-9]{1}\.\d{1,3}\.\d{1,3}|172\.3[0-1]{1}\.\d{1,3}\.\d{1,3}|0:0:0:0:0:0:0:1|::1|100\.6[4-9]\.\d{1,3}\.\d{1,3}|100\.[7-9][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.1[0-1][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.12[0-7]\.\d{1,3}\.\d{1,3}
  shutdown: graceful
  error:
    include-message: always

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'info, health'
  endpoint:
    health:
      cache:
        time-to-live: 2000ms
      show-components: always
      show-details: always
      probes:
        enabled: true
    info:
      cache:
        time-to-live: 2000ms

hmpps.sqs:
  queueAdminRole: ROLE_CSIP_ADMIN

service:
  publish-events: true
  base-url: http://localhost:8080
  active-prisons: LEI
  retry-attempts: 4
  backoff-interval: 200
